@import "../../styles/variables";

.repositories {
  min-width: 900px;
  .header {
    margin-bottom: 75px;
  }
  .goBack {
    a {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      img {
        width: 12px;
        height: 12px;
        padding: 10px;
        background: #fff;
        border-radius: 50px;
      }
      * {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  .repoListContainer {
    height: 525px;
    display: flex;
    padding: 0;
    justify-content: space-between;
    .repoList {
      padding: 0 10px;
      height: 100%;
      min-width: 310px;
      .result {
        text-align: center;
        display: block;
        font-style: italic;
        font-size: 12px;
        margin-top: 18px;
        color: $primary-dark-color;
      }
    }
    .readme {
      background-color: $primary-dark-color;
      padding: 30px 10px;
      border-radius: 26px;
      color: $text-light-color;
      height: calc(100% - 60px);
      width: 550px;
    }
  }
}
