@import "./variables";

/**
* @desc         adds default text styles
* @requires     variables.scss
*/
body {
  color: $text-color;
}

body,
input,
select,
textarea,
p,
label {
  font-family: $font-family-default;
}

// headings and paragraph
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-family: $font-family-title;
}
