/**
* @desc         setup variables.
* @requires     none
*/

// [color - variables]
// branding
$primary-dark-color: #2c2c2c;
$primary-light-color: #f8f1ea;
$danger-light-color: #e16b93;
$action-dark-color: $primary-dark-color;

// text
$text-color: #242424;
$text-light-color: #e1e8f0;
$title-color: #242424;

// body
$body-background: $primary-light-color;
$grey-background: #f8f8f8;

// font family
$font-family-title: "Poppins", sans-serif;
$font-family-default: "Roboto", sans-serif;

// border colors
$border-color: #707070;

// border radius
$border-radius: 10px;

// shadows
$box-shadow-light: 0px 5px 30px rgba(0, 0, 0, 0.116);
$box-shadow-medium: 0px 25px 30px #0000000f;
