@import "../../styles/variables";

.layout {
  background-color: $body-background;
  display: flex;
  justify-content: center;
  height: calc(100vh - 150px);
  // align-items: center;
  padding-top: 150px;
}
