@import "../../../styles/variables";

.btn {
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  color: #fff;
  min-width: 85px;
  font-family: $font-family-default;
  &.primary {
    background-color: $action-dark-color;
  }
  &.secondary {
    margin: auto;
    display: flex;
    justify-content: center;
    background: #f8f8f8;
    color: #2c2c2c;
    background-color: $primary-light-color;
  }
}
