@import "../../../../styles/variables";

.item {
  background-color: $grey-background;
  border-radius: 12px;
  width: 250px;
  overflow: auto;
  margin-bottom: 12px;
  a {
    padding: 25px;
    display: flex;
    flex-direction: column;
    color: $text-color;
    text-decoration: none;
    span {
      color: #707070;
    }
    label {
      padding-bottom: 10px;
      cursor: pointer;
    }
  }
}
