@import "../../../styles/variables";

.input {
  color: $text-color;
  padding: 15px;
  border-radius: $border-radius;
  outline: none;
  border: 1px solid $border-color;
  font-size: 16px;
  font-family: $font-family-default;
}
