@import '../../styles/variables';

.repoFinder {
  min-width: 700px;
  .header {
    margin-bottom: 75px;
    * {
      margin-bottom: 15px;
    }
  }
  .search {
    * {
      margin: 8px;
    }
  }
}
