@import "../../styles/variables";

.repoFinder {
  min-width: 700px;
  .header {
    margin-bottom: 75px;
    * {
      margin-bottom: 15px;
    }
  }
  .search {
    * {
      margin: 8px;
    }
  }
  .sourceCode {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    figure {
      margin-left: 5px;
      margin-right: 0;
    }
  }
}
