@import '../../../styles/variables';

.card {
  background-color: #fff;
  border-radius: 26px;
  padding: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $box-shadow-medium;
}